
.fap {
  display: inline-block;
  font-family: "appfont" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fap-react:before {
  content: "\e199"; }

.fap-star:before {
  content: "\e200"; }

.fap-watch:before {
  content: "\e201"; }

.fap-fork:before {
  content: "\e202"; }

i.react {
  position: fixed;
  top: 4px;
  left: 20px;
  color: #fff;
  font-size: 50px;
  z-index: 9999; }

a.fork {
  padding: 10px;
  position: fixed;
  top: 8px;
  right: 20px;
  color: #E64A19;
  border-radius: 40px;
  background-color: #fff;
  font-size: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 9999;
  opacity: 0.9;
  filter: alpha(opacity=90); }
  
  ul.itemlist {
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
    ul.itemlist::after {
      clear: both;
      content: "";
      display: table; }
    ul.itemlist li {
      margin: 5px;
      width: 270px;
      display: block;
      float: left;
      overflow: hidden;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      ul.itemlist li .item-name {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #9E9E9E;
        text-align: center;
        color: #fff;
        opacity: 0.9;
        filter: alpha(opacity=90);
        font-size: 20px;
        padding: 5px; }
        ul.itemlist li .item-name.c {
          background-color: #1976D2 !important; }
        ul.itemlist li .item-name.JavaScript {
          background-color: #E64A19 !important; }
        ul.itemlist li .item-name.Java {
          background-color: #F44336 !important; }
        ul.itemlist li .item-name.Ruby {
          background-color: #E040FB !important; }
        ul.itemlist li .item-name.Python {
          background-color: #F57C00 !important; }
        ul.itemlist li .item-name.PHP {
          background-color: #4CAF50 !important; }
        ul.itemlist li .item-name.csharp {
          background-color: #795548 !important; }
        ul.itemlist li .item-name.Scala {
          background-color: #303F9F !important; }
      ul.itemlist li .item-img {
        position: relative;
        width: 270px;
        height: 270px; }
        ul.itemlist li .item-img img {
          margin: 0 auto;
          display: block;
          width: 270px;
          height: auto; }
      ul.itemlist li .item-button-panel {
        position: absolute;
        display: block;
        bottom: -10px;
        left: 0;
        width: 100%; }
        ul.itemlist li .item-button-panel::after {
          clear: both;
          content: "";
          display: table; }
        ul.itemlist li .item-button-panel a.counter {
          -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          width: 82px;
          color: #fff;
          display: inline-block;
          border-radius: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: #00BCD4;
          margin-left: 6px;
          text-decoration-line: none; }
          ul.itemlist li .item-button-panel a.counter i {
            margin-left: 10px;
            margin-right: 10px; }
      ul.itemlist li .item-description {
        padding-top: 20px;
        display: block;
        background-color: #f0f0f0;
        color: #374c52;
        height: 80px;
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px; }
        ul.itemlist li .item-description.c {
          background-color: #64a9ed !important; }
        ul.itemlist li .item-description.JavaScript {
          background-color: #f09275 !important; }
        ul.itemlist li .item-description.Java {
          background-color: #f99d97 !important; }
        ul.itemlist li .item-description.Ruby {
          background-color: #f0a4fd !important; }
        ul.itemlist li .item-description.Python {
          background-color: #ffae5c !important; }
        ul.itemlist li .item-description.PHP {
          background-color: #92cf94 !important; }
        ul.itemlist li .item-description.csharp {
          background-color: #af8778 !important; }
        ul.itemlist li .item-description.Scala {
          background-color: #6573d0 !important; }
  
  .grow {
    transition: all .2s ease-in-out; }
  
  .grow:hover {
    transform: scale(1.1); }
  
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998; }
  
  .nodata {
    margin-top: 20px;
    color: #DB5600;
    font-size: 50px; }
  
  .readme {
    width: 80%;
    margin-left: 10%; }
    .readme h1 {
      color: #DB5600;
      font-size: 50px; }
  
  .itemlistheader {
    width: 80%;
    margin-left: 10%;
    color: #DB5600;
    font-size: 50px; }
  
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  
  .x.axis path {
    display: none; }
  
  .line {
    fill: none;
    stroke: #DB5600;
    stroke-width: 1.5px; }
  
  .repoheader {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px; }
    .repoheader .avatar {
      float: left;
      width: 270px;
      height: 270px; }
      .repoheader .avatar img {
        width: 270px;
        height: 270px; }
    .repoheader .chartwrap {
      overflow: hidden;
      height: 270px; }
  
  @media screen and (min-width: 5600px) and (max-width: 5880px) {
    ul.itemlist {
      width: 5600px; } }
  
  @media screen and (min-width: 5320px) and (max-width: 5600px) {
    ul.itemlist {
      width: 5320px; } }
  
  @media screen and (min-width: 5040px) and (max-width: 5320px) {
    ul.itemlist {
      width: 5040px; } }
  
  @media screen and (min-width: 4760px) and (max-width: 5040px) {
    ul.itemlist {
      width: 4760px; } }
  
  @media screen and (min-width: 4480px) and (max-width: 4760px) {
    ul.itemlist {
      width: 4480px; } }
  
  @media screen and (min-width: 4200px) and (max-width: 4480px) {
    ul.itemlist {
      width: 4200px; } }
  
  @media screen and (min-width: 3920px) and (max-width: 4200px) {
    ul.itemlist {
      width: 3920px; } }
  
  @media screen and (min-width: 3640px) and (max-width: 3920px) {
    ul.itemlist {
      width: 3640px; } }
  
  @media screen and (min-width: 3360px) and (max-width: 3640px) {
    ul.itemlist {
      width: 3360px; } }
  
  @media screen and (min-width: 3080px) and (max-width: 3360px) {
    ul.itemlist {
      width: 3080px; } }
  
  @media screen and (min-width: 2800px) and (max-width: 3080px) {
    ul.itemlist {
      width: 2800px; } }
  
  @media screen and (min-width: 2520px) and (max-width: 2800px) {
    ul.itemlist {
      width: 2520px; } }
  
  @media screen and (min-width: 2240px) and (max-width: 2520px) {
    ul.itemlist {
      width: 2240px; } }
  
  @media screen and (min-width: 1960px) and (max-width: 2240px) {
    ul.itemlist {
      width: 1960px; } }
  
  @media screen and (min-width: 1680px) and (max-width: 1960px) {
    ul.itemlist {
      width: 1680px; } }
  
  @media screen and (min-width: 1400px) and (max-width: 1680px) {
    ul.itemlist {
      width: 1400px; } }
  
  @media screen and (min-width: 1120px) and (max-width: 1400px) {
    ul.itemlist {
      width: 1120px; } }
  
  @media screen and (min-width: 840px) and (max-width: 1120px) {
    ul.itemlist {
      width: 840px; } }
  
  @media screen and (min-width: 560px) and (max-width: 840px) {
    ul.itemlist {
      width: 560px; } }
  
  @media screen and (min-width: 280px) and (max-width: 560px) {
    ul.itemlist {
      width: 280px; } }
  
  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none; }
  
  .waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }
  
  .waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, 0.2); }
  
  .waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4); }
  
  .waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important; }
  
  .waves-button, .waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%); }
  
  .waves-button, .waves-button:hover, .waves-button:visited, .waves-button-input {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
    background-color: transparent;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1; }
  
  .waves-button {
    padding: 0.85em 1.1em;
    border-radius: 0.2em; }
  
  .waves-button-input {
    margin: 0;
    padding: 0.85em 1.1em; }
  
  .waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom; }
  
  .waves-input-wrapper.waves-button {
    padding: 0; }
  
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }
  
  .waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%; }
  
  .waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12); }
  
  .waves-float:active {
    -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }
  
  .waves-block {
    display: block; }
  
  /* Firefox Bug: link not triggered */
  .spinner {
    margin: 100px auto;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 10px; }
  
  .spinner > div {
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-left: 15px;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out; }
  
  .spinner > div.dark {
    background-color: #DB5600; }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
  
  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4); }
  
    20% {
      -webkit-transform: scaleY(1); } }
  
  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4); }
  
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1); } }